{% extends 'base.html' %}
{% block title %}История Воронежа{% endblock %}
{% load static %}
{% block content %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" href="{% url 'history3_view' %}">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'history4_view' %}">4</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history5_view' %}">5</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history6_view' %}">6</a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'history5_view' %}">Следующая</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row">
        <h2 class="text-center">XIX век</h2>
        <p>В начале XIX века в городе возникают первые народные училища и гимназии. В 1798 году открывается губернская
            типография. В 1800 году в ней издается первый научный труд по истории края – книга Е. А. Болхотвитинова
            «Историческое, географическое и экономическое описание Воронежской губернии». С 1802 года в Воронеже
            работает профессиональный театр. В 1804 году на девяти главных улицах введено свечное освещение, всего же
            работало 417 свечных фонарей. С 1838 года начинается регулярное издание газет. В Воронеже жили народные
            русские поэты А. В. Кольцов (1809 – 1842 гг.) и И. С. Никитин (1824 – 1861 гг.).</p>
        <p>В Отечественной войне 1812 года против Наполеона сражалось более 10 воронежских полков народного ополчения.
            Воронежская губерния находилась далеко от мест военных действий, но, несмотря на это, война оказала большое
            влияние на жизнь города и области, и воронежцы приняли участие в сражении с врагом. Из Воронежа в русскую
            армию было направлено много лошадей и продовольствия. В городе собирали средства на экипировку полков. Летом
            1812 года в Воронеже были сформированы два полка, в состав которых вошли жители Воронежской, Саратовской и
            Пензенской губернии. Уже в августе они выдвинулись в район боевых действий. </p>
    </div>
</div>
<div class="container py-4">
    <div class="card">
        <div class="card-body">
            Главнокомандующий Михаил Илларионович Кутузов остался доволен воронежскими полками, отметив, что «… они в
            столь короткое время довольно хорошо образованы и что большая часть людей стреляют довольно хорошо».
        </div>
    </div>
</div>
<div class="container px-4">
    <div class="row">
        Многие воронежцы сражались в составе других частей русских армий, много наших земляков вступило в народное
        ополчение. В Воронеже на Терновом кладбище были похоронены герои Отечественной войны 1812 года: генерал Дмитрий
        Иванович Халютин, полковник Яков Михайлович Старков, капитан Иван Саввич Мягкий… Могилы их, к сожалению, не
        сохранились.
    </div>
</div>

<div class="container">
    <div class="row">
        <p>В 1818 и 1820 Воронеж посетил император Александр I. На протяжении 19 – начала 20 вв. в городе бывали все
            последующие российские императоры. В 1832 открыты для поклонения мощи святителя Митрофана. По этому случаю в
            город приезжал император Николай I. В 1845 на средства, пожертвованные Н.Д. Чертковым, открыт Михайловский
            кадетский корпус (среди его выпускников - В.А. Антонов-Овсеенко, А.Е. Гутор, А.М. Каледин, А.Н. Лодыгин,
            С.И. Мосин (винтовка его конструкции находилась на вооружении русских армий вплоть до Великой Отечественной
            войны), Г.В.Плеханов, С.Г.Улагай и др.). </p>
    </div>
</div>

<div class="container py-2">
    <div class="row">
        <img class="col-8 offset-2 offset-lg-0 col-lg-5" src="{% static 'img/Zdanie_Mikhaylovskogo_korpusa.jpg' %}" alt="">
        <div class="col-12 col-lg-7 py-2">
            <p>
                20 ноября 1845 года в Воронеже состоялось торжественное открытие Михайловского кадетского корпуса,
                который был построен на средства местного помещика, генерала Николая Дмитриевича Черткова. Своё название
                «Михайловский» кадетский корпус получил по просьбе инициатора его создания, который пожелал дать такое
                наименование учебному заведению по имени Великого князя Михаила Павловича, бывшего главой всех
                военно-учебных заведений Российской империи. Под Кадетский корпус была выделена обширная городская
                территория, находившаяся рядом с домом губернатора. На учёбу в Михайловский кадетский корпус принимали
                мальчиков из семей дворян и старших офицеров. Сейчас на этом месте кадетского плаца находится детский
                парк «Орлёнок», а комплекс зданий включая главный корпус учебного заведения был разрушен во время
                Великой Отечественной войны. Гитлеровцы взорвали лучшие здания города накануне своего отступления 25
                января 1943 года.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <p>В 1853—1857 годах губернатором был Ю. А. Долгоруков. Спустя много времени опять появился в Воронеже
            губернатор, к которому надо было обращаться не по званию, а по титулу «Ваше сиятельство». В 1853 году новый
            губернатор организовывал в Воронеже первую выставку сельских произведений пяти чернозёмных губерний. На его
            управление губернией пришлась Крымская война (1853—1856). За два года местное дворянство на военные нужды
            пожертвовало 67 тысяч рублей серебром. За проведение рекрутских наборов в губернии Ю. А. Долгоруков был
            награждён орденом Св. Анны первой степени с Высочайшим благоволением от императора. После смерти Николая I
            новым императором Александром II 27 сентября 1855 года Воронежская губерния была объявлена на военном
            положении. 6 января 1857 года Александр II произвел Ю. А. Долгорукова в сенаторы и он был уволен с должности
            Воронежского губернатора.</p>
        <p>В 60 – 70-х годах XIX века через территорию губернии были проложены железные дороги. Возникают крупные
            промышленные предприятия, главным образом в Воронеже (Воронежские железнодорожные мастерские – в 1868 году,
            завод Столля – в 1869 году, и другие). В 1891 году была открыта конная железная дорога (конка). Началось
            движение по первому маршруту конно-железной дороги.</p>

    </div>
</div>

<div class="container justify-content-center px-5">
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <p><b>Как называется первый научный труд по истории Воронежского края?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="«Старый Воронеж»." id="«Старый Воронеж»." name="question1">
            <label class="form-check-label" for="«Старый Воронеж».">
                «Старый Воронеж».
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="«История Воронежского края от А до Я»." id="«История Воронежского края от А до Я»." name="question1">
            <label class="form-check-label" for="«История Воронежского края от А до Я».">
                «История Воронежского края от А до Я».
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="«Историческое, географическое и экономическое описание Воронежской губернии»." id="«Историческое, географическое и экономическое описание Воронежской губернии»." name="question1">
            <label class="form-check-label" for="«Историческое, географическое и экономическое описание Воронежской губернии».">
                «Историческое, географическое и экономическое описание Воронежской губернии».
            </label>
        </div>


        <p><b>В каких годах Воронеж посещал император Александр I?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В 1822 и 1823." id="В 1822 и 1823." name="question2">
            <label class="form-check-label" for="В 1822 и 1823.">
                В 1822 и 1823.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В 1818 и 1822." id="В 1818 и 1822." name="question2">
            <label class="form-check-label" for="В 1818 и 1822.">
                В 1818 и 1822.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В 1818 и 1820." id="В 1818 и 1820." name="question2">
            <label class="form-check-label" for="В 1818 и 1820.">
                В 1818 и 1820.
            </label>
        </div>


        <p><b>Что сейчас находится на месте Михайловского кадетского корпуса?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Здание управления Юго-Восточной железной дороги." id="Здание управления Юго-Восточной железной дороги." name="question3">
            <label class="form-check-label" for="Здание управления Юго-Восточной железной дороги.">
                Здание управления Юго-Восточной железной дороги.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Детский парк «Орлёнок»." id="Детский парк «Орлёнок»." name="question3">
            <label class="form-check-label" for="Детский парк «Орлёнок».">
                Детский парк «Орлёнок».
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Здание Воронежского государственного университета." id="Здание Воронежского государственного университета." name="question3">
            <label class="form-check-label" for="Здание Воронежского государственного университета.">
                Здание Воронежского государственного университета.
            </label>
        </div>


        <p><b>Каким орденом был награжден Ю. А. Долгоруков за проведение рекрутских наборов в губернии?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Орденом Святого Георгия." id="Орденом Святого Георгия." name="question4">
            <label class="form-check-label" for="Орденом Святого Георгия.">
                Орденом Святого Георгия.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Орденом Святой Анны." id="Орденом Святой Анны." name="question4">
            <label class="form-check-label" for="Орденом Святой Анны.">
                Орденом Святой Анны.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Орденом Святого Александра Невского." id="Орденом Святого Александра Невского." name="question4">
            <label class="form-check-label" for="Орденом Святого Александра Невского.">
                Орденом Святого Александра Невского.
            </label>
        </div>
        

        <p><b>В каком году была открыта конная железная дорога (конка)?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В 1889 году." id="В 1889 году." name="question5">
            <label class="form-check-label" for="В 1889 году.">
                В 1889 году.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В 1890 году." id="В 1890 году." name="question5">
            <label class="form-check-label" for="В 1890 году.">
                В 1890 году.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В 1891 году." id="В 1891 году." name="question5">
            <label class="form-check-label" for="В 1891 году.">
                В 1891 году.
            </label>
        </div>
    <button type="submit" class="btn-tsvet my-4 fs-5 px-1">Завершить тест</button>    
    </form>
{% else %}
    <div class="py-2">
        <a href="{% url 'login' %}">Создайте аккаунт, чтобы получить доступ к тестам</a>
    </div>
{% endif %}
</div>



<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'history3_view' %}">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'history4_view' %}">4</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history5_view' %}">5</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history6_view' %}">6</a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'history5_view' %}">Следующая</a>
        </li>
    </ul>
</nav>
{% endblock content %}