{% extends 'base.html' %}
{% block title %}История Воронежа{% endblock %}
{% load static %}
{% block content %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" href="{% url 'history2_view' %}">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'history3_view' %}">3</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history4_view' %}">4</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history5_view' %}">5</a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'history4_view' %}">Следующая</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row">
        <h2 class="text-center">Вторая половина XVIII века</h2>
        <p>Основные направления русской политики екатерининской эпохи сформировались довольно быстро. Во внутренней
            политике необходимо было провести административные и правовые реформы, так как в основе права лежали еще
            «Уложения» времен Алексея Михайловича. В общем, Екатерина продолжила политику Петра I на укрепление роли
            дворянского сословия в государстве и европеизацию страны. Ликвидируется церковное и монастырское
            землевладение (находящаяся на левом берегу Воронежа деревня Монастырщенка отбирается у Акатова монастыря и
            объявляется пригородной слободой). В это время русские города (деревянные с кривыми улочками)
            перестраиваются на европейский манер, проводятся реформы в армии, развиваются культура и просвещение. Все
            это захватило и Воронеж.</p>
        <p>Вторая половина XVIII века стала периодом экономического подъема и самого города Воронежа и Воронежской
            губернии. Воронеж превращается в процветающий дворянско-купеческий город. Это было связано с его
            экономико-географическим положением. Он находился в самом центре черноземной полосы. Пока еще не началось
            активное освоение Поволжья и Кубанских степей, а значит, главной житницей страны было Центральное
            Черноземье. С воронежских пристаней ежегодно отправляли по 150 000 четвертей хлеба, 250 000 пудов сала и 100
            000 пудов шерсти. Формируется мощная суконная промышленность. В городе действовало несколько суконных
            фабрик, пивоваренных и мыловаренных заводов, «знатные сальные заводы» и т.д. Одних торговых лавок числилось
            почти 400 штук. Самые богатые воронежские купцы выезжали торговать в Берлин и Лейпциг. Деревянные дома
            постепенно заменяются на каменные. К концу XVIII века в городе около 300 каменных домов и примерно столько
            же каменных торговых лавок.</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <img class="img-fluid col-8 py-2" src="{% static 'img/ekepoha1.jpg' %}" alt="">
    </div>
</div>

<div class="container">
    <div class="row">
        <p>В губернии отмечается стремительный рост населения. Привлеченные богатыми черноземными почвами и высокими
            урожаями, помещики переводят сюда крестьян из своих северных поместий. Земли Воронежской губернии считаются
            выгодным и почетным приобретением. Недаром Екатерина жалует ими свое ближайшее окружение.</p>
        <p>После крестьянской войны под руководством Емельяна Пугачева правительству стало ясно, что старое
            административное устройство России себя не оправдывает. Встал вопрос о необходимости административной
            реформы и в 1775 году императрица подписала соответствующий указ. До этого времени административное
            положение Воронежа несколько раз менялось. Впервые Россию на губернии поделил Петр I. Сначала их было всего
            8. Первоначально Воронеж входил в Азовскую губернию, но с 1711 года стал губернским центром, в связи с этим
            Азовская губерния была переименована в Воронежскую. Она состояла из 5 провинций каждый из которых делился на
            уезды, кроме того в нее входили земли донских казаков.</p>
        <p>По новому административному делению Россия делилась уже на 50 губерний. Воронежская губерния значительно
            сократилась в размерах. В ее состав теперь входило 15 уездов. По реформе 1775 года 2-3 соседние губернии
            составляли новую административную единицу - наместничество. Воронеж стал не только центром губернии, но и
            Воронежского наместничества. Правда, в нашей губернии административная реформа задержалась и прошла только в
            1779 году. После смерти Екатерины еще одну реформу провел император Павел I. Он отменил наместничества, а от
            Воронежской губернии отрезал юго-западную часть, которая вошла в состав Слободской Украины.</p>

    </div>
</div>

<div class="container py-4">
    <div class="card">
        <div class="card-body">
            Указом Сената от 1781 года для всех губернских и уездных городов вводились гербы. Гербом Воронежа был
            утвержден «в красном поле, опрокинутый на косогоре сосуд из которого истекает река Воронеж».
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <p>В 1773 году в Воронеже случился очередной пожар. Выгорела четверть города и, пользуясь случаем, городские
            власти решили перепланировать город. Городским архитектором Николаем Иевским был составлен генеральный план,
            отосланный на утверждение в Петербург императрице. Там его несколько подправил известный архитектор И.Е.
            Старов и 11 марта 1774 года он был подписан Екатериной II. С этого момента внешний облик города стал
            неуклонно меняться.</p>
        <p>По новому плану город следовало поднять с приречных склонов на водораздел. Теперь все улицы делались прямые и
            строго определенной ширины: большие – 21 метр, обычные - около 10 метров. Для планировки города была
            применена, крайне редко встречающаяся в городской архитектуре, трехлучевая симметрия. Центр города смещался
            к тому месту, где когда-то и возник Воронеж. Сейчас на этом месте Университетская площадь. Здесь размещалось
            здание Воронежской епархии. От нее отходили три главные улицы: Большая Девицкая (сейчас это ул. 9 января),
            Ново-Московская (сейчас – Плехановская) и Большая Дворянская (сейчас это улицы Володарского и Проспект
            Революции). Остальные улицы шли параллельно или поперек главным, образуя правильные кварталы. Новые дома
            дозволялось строить, только вдоль вновь проложенных улиц, а те, которые оказались на проезжей части,
            предписывалось снести. Естественно, жители делали это крайне неохотно, поэтому новые улицы прокладывались
            два десятка лет. Старый земляной вал был срыт. Вдоль новых границ города прошел новый земляной вал. Примерно
            он проходил по нынешней улице Кольцовской и Красноармейской. Принцип городской застройки сводился к
            возведению вдоль главных улиц каменных домов, а на окраине города – деревянных. В это же время через всю
            речную пойму была проложена высокая дамба, которую не затопляло даже в половодье. В 1786 году на ее
            строительство было согнано сотни крестьян с окрестных уездов. Одновременно был построен новый деревянный
            мост. Дамба эта осталась до сих пор. Она идет через водохранилище от Чернавского моста в направлении ул.
            Димитрова, а мост с тех пор несколько раз перестраивался, но сохранил и свое прежнее местоположение и
            название – Чернавский.</p>
        <p>Город приобщается к цивилизации. В 1778 году в Воронеже появляется первая аптека, а на следующий год почта. В
            доме наместника появляется первый любительский театр, открывается городская больница и народное училище с
            библиотекой, а в конце века появляется и собственная типография. К концу века Воронеж простирался в длину на
            4 версты, а его окружность составляла более 10 верст.</p>

        </p>
    </div>
    
</div>
<div class="container justify-content-center px-5">
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <p><b>Какова главная причина процветания г.Воронежа во второй половине XVIII века?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Формирование в городе мощной суконной промышленности." id="Формирование в городе мощной суконной промышленности." name="question1">
            <label class="form-check-label" for="Формирование в городе мощной суконной промышленности.">
                Формирование в городе мощной суконной промышленности.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Выгодное экономико-географическое положение." id="Выгодное экономико-географическое положение." name="question1">
            <label class="form-check-label" for="Выгодное экономико-географическое положение.">
                Выгодное экономико-географическое положение.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Большое количество промышленных предприятий." id="Большое количество промышленных предприятий." name="question1">
            <label class="form-check-label" for="Большое количество промышленных предприятий.">
                Большое количество промышленных предприятий.
            </label>
        </div>

        <p><b>Из какого райoна России помещики часто переводили сюда крестьян из своих поместий?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value=" С юга." id=" С юга." name="question2">
            <label class="form-check-label" for=" С юга.">
                С юга.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="С восточной части страны." id="С восточной части страны." name="question2">
            <label class="form-check-label" for="С восточной части страны.">
                С восточной части страны.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="C севера." id="C севера." name="question2">
            <label class="form-check-label" for="C севера.">
                C севера.
            </label>
        </div>


        <p><b>Восстановите правильную цепочку административного положения Воронежа в XVIII веке.</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Азовская губерния - Воронежская губерния - присоединение северо-западной части." id="Азовская губерния - Воронежская губерния - присоединение северо-западной части." name="question3">
            <label class="form-check-label" for="Азовская губерния - Воронежская губерния - присоединение северо-западной части.">
                Азовская губерния - Воронежская губерния - присоединение северо-западной части.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Киевская губерния - Воронежская губерния - потеря юго-западной части." id="Киевская губерния - Воронежская губерния - потеря юго-западной части." name="question3">
            <label class="form-check-label" for="Киевская губерния - Воронежская губерния - потеря юго-западной части.">
                Киевская губерния - Воронежская губерния - потеря юго-западной части.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Азовская губерния - Воронежская губерния - потеря юго-западной части." id="Азовская губерния - Воронежская губерния - потеря юго-западной части." name="question3">
            <label class="form-check-label" for="Азовская губерния - Воронежская губерния - потеря юго-западной части.">
                Азовская губерния - Воронежская губерния - потеря юго-западной части.
            </label>
        </div>

        <p><b>В каком году в Воронеже случился очередной пожар, в результате которого выгорела четверть города? </b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В 1773 году." id="В 1773 году." name="question4">
            <label class="form-check-label" for="В 1773 году.">
                В 1773 году.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В 1770 году." id="В 1770 году." name="question4">
            <label class="form-check-label" for="В 1770 году.">
                В 1770 году.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В 1772 году. " id="В 1772 году. " name="question4">
            <label class="form-check-label" for="В 1772 году. ">
                В 1772 году. 
            </label>
        </div>


        <p><b>Что решили предпринять городские власти после пожара?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Сделать все улицы прямыми и строго определенной ширины." id="Сделать все улицы прямыми и строго определенной ширины." name="question5">
            <label class="form-check-label" for="Сделать все улицы прямыми и строго определенной ширины.">
                Сделать все улицы прямыми и строго определенной ширины.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Перепланировать город." id="Перепланировать город." name="question5">
            <label class="form-check-label" for="Перепланировать город.">
                Перепланировать город.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Открыть новые городские учреждения." id="Открыть новые городские учреждения." name="question5">
            <label class="form-check-label" for="Открыть новые городские учреждения.">
                Открыть новые городские учреждения.
            </label>
        </div>



     
             
        
    <button type="submit" class="btn-tsvet my-4 fs-5 px-1">Завершить тест</button>    
    </form>
{% else %}
    <div class="py-2">
        <a href="{% url 'login' %}">Создайте аккаунт, чтобы получить доступ к тестам</a>
    </div>
{% endif %}
</div>




<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'history2_view' %}">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'history3_view' %}">3</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history4_view' %}">4</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history5_view' %}">5</a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'history4_view' %}">Следующая</a>
        </li>
    </ul>
</nav>
{% endblock content %}