{% extends 'base.html' %}
{% block title %}История Воронежа{% endblock %}
{% load static %}
{% block content %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'history1_view' %}">1</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history2_view' %}">2</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history3_view' %}">3</a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'history2_view' %}">Следующая</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <h2 class="text-center">Основание Воронежа</h2>
        <p>В конце XV века было сброшено монголо-татарское иго на Руси. Образовалось Русское централизованное
            государство, в
            состав которого вошли и Воронежские земли. Но борьба с «осколками» Золотой орды продолжалась еще долгое
            время.
            Чтобы обезопасить границы Руси со стороны Дикого поля (так русские люди в XVI веке называли земли, лежащие
            на юг
            от границы своего государства до берегов Крыма), в степях копали рвы, ставили частоколы, в лесах устраивали
            заслоны из поваленных деревьев. Но иногда врагам удавалось прорваться вглубь страны, поэтому для обороны
            нужно
            было возводить более мощные укрепления. Так на окраине нашего государства стали строить укрепленные линии и
            сторожевые города-крепости, среди которых был и наш город Воронеж.</p>
        <p>Считалось, что г. Воронеж основан в 1586 г.
            Однако в своё время в воронежских историко-краеведческих кругах проходили оживленные дебаты о дате основания
            Воронежа.
            Подробнее Вы можете прочитать об этом здесь:
        </p>
        <div class="container">
            <div class="row justify-content-center py-4">
                <div class="col-12">
                    <div class="card" id="card-cust">
                        <div class="row">
                            <img src="{% static 'img/city002.jpg' %}" alt="" class="img-fluid col-4 img-c">
                            <div class="col-1" id="img-custom">

                            </div>
                            <div class="col-7">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10 text-center mt-2" id="name-ar">
                                        <h5>Первые упоминания о Воронеже</h5>
                                    </div>
                                </div>
                                <div class="row pt-3 px-3">
                                    В своё время в воронежских историко-краеведческих кругах проходили оживленные дебаты
                                    о дате
                                    основания Воронежа...
                                </div>
                                <div class="row">
                                    <div class="col-2 offset-8 py-4">
                                        <a href="{% url 'article1_view' %}" class="btn" id="btn-cust">Перейти</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>
            Действительно, в Центральном государственном архиве древних актов, в фонде Разрядного приказа сохранилась
            в делах Московского стола рукописная книга XVI в. — так называемая «Сторожевая книга».
            В ней в одном из документов встречаются такие слова: «По государеву цареву и великого князя Федора Ивановича
            всеа Русии указу и по приговору бояр князя Федора Ивановича Мстиславского с товарыщи... велено поставить
            город Воронеж».
            Неподалеку дата — 1 марта 1586 года, которую можно отнести к приведенным выше словам.
            Из других документов того времени известно, что строительство города началось в 1585 году, а закончилось в
            1586 году.
            Поэтому официально годом основания города Воронежа принято считать 1586 год.
            Среди ученых существуют и другие версии, но они пока не имеют научного подтверждения.
        </p>
        <p>
            Однако некоторым историкам был знаком и другой документ, противоречивший «Сторожевой книге» и
            говоривший об основании Воронежа в 1585 г. Первым сообщил о нем еще в 1890 г.
            воронежский историк-краевед Л. Б. Вейнберг. Затем известный харьковский историк Д. И. Багалей включил его
            в текст своего отзыва на диссертацию» И. Н. Миклашевского. Вот это место: «В девяносто третьем году били
            челом
            государю царю и великому князю Федору Ивановичу всея Русии Резанского» уезда, села Ворыщ,
            бортники Демка Айдаров сын Панин да Игнатко Инютин сын Кочапин да Ивашко Олексеев сын Ларивонов, а сказали:
            были де за ними на оброке в Резанском уезде бортные ухожьи и рыбные ловли, и те де их бортные ухожеи и
            рыбные ловли
            отписаны к новому городу, к Воронежу, и теми их угодьи воронежские жильцы владети им ныне не дадут и впредь
            де им оброку
            добывати негде, а ныне на их того оброку правят». «Девяносто третий год» документа — это 7093 г.
            «от сотворения мира» по старому русскому летосчислению. Он продолжался, как известно, с 1 сентября 1584 г.
            по 31 августа 1585 г. по современному счету лет. Текст документа говорит о том, что г.
            Воронеж в 1585 г. уже существовал, что он возник в 7093 г. по старому летосчислению.
        </p>
        <p>
            Л. Б. Вейнберг решил, что Воронеж был основан в 1586 г., а в 1585 г. к будущему,
            еще не основанному городу были отписаны земли. Л. Б. Вейнберг пишет: «Указ о построении
            первых двух городов на украйне, Ливен и Воронежа, появился, как известно, 1 марта 1586 года, но еще ранее,
            за год перед тем состоялось распоряжение об отписании земель и угодий от прежних уездов Елецкого к Ливнам,
            и Рязанского — к Воронежу».
        </p>
        <p>
            В архивном деле сохранилась переписка 1594 г. между воронежским воеводой Иваном Кобяковым и
            московскими центральными учреждениями-приказами. В нескольких документах речь идет о воронежских «ухожьях».
        </p>
        <div class="accordion accordion-flush my-4">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        "Ухожьи"
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Участки незаселенной еще территории, которые сдавались в аренду для
                        рыбной ловли, добычи пушных зверей, сбора меда диких пчел.
                        Ухожьи существовали до возникновения на их месте или поблизости новых городов и сел. </div>
                </div>
            </div>
        </div>
        <img class="col-12 col-lg-5 img-fluid" src="{% static 'img/osnovanie.jpg' %}" alt="">
        <div class="col-12 col-lg-7">


            <p>
                В августе 1594 г. воевода И. Кобяков послал в Москву запрос об ухожьях.
                Письмо было адресовано, как обычно, царю; оно попало в приказ Большого дворца, ведавший тогда к
                ухожьями,
                которые считались «государевыми вотчинами». (Этот приказ ведал дворцовым хозяйством и личными земельными
                владениями царя.
                В XVII в. воронежскими ухожьями, как и городом Воронежем вообще, занимается уже другое центральное
                учреждение — Разрядный приказ, или Разряд). В ответном письме из Москвы от имени царя воронежскому
                воеводе
                говорилось:
                «Писал ты к нам, что приходят к тебе старые откупщики, которые откупали на Воронеже воды и леса в
                нынешнем
                102 году,
                а просят тех ухожаев — вод и лесов на откуп на 103 год, а у тебя о том нашега указу нет. А ты б те воды
                и
                леса отдал в
                откуп из наддачи то есть за более выгодную плату. — В. 3., а будет больше прежнего откупа не дадут,
                и ты б отдал прежним откупщикам и откуп на них взял по-прежнему». Перед тем как вынести решение по этому
                вопросу,
                9 сентября 1594 г. в Москве в приказе Большого дворца была составлена по обыкновению справка о прежних
                ухожьях.
                При составлении этой справки и был переписан документ о переходе рязанских ухожьев к «новому городу
                Воронежу».
            </p>
        </div>
        <p>
            В этой книге есть еще одно место, убеждающее внимательного исследователя в том, что Воронеж основан в
            1585
            г. Здесь имеется роспись воронежских сторож, которые с 1586 г. заменили стоялых голов и сторожей у
            Богатого
            затона. Если бы указ об основании Воронежа состоялся только 1 марта 1586 г., то приступить к
            строительству
            города можно было примерно в апреле, когда сойдет снег, и строительство городских стен и башен
            закончилось
            бы в лучшем случае в июне. Тогда сторожевой службы на Дону весной 1586 г. фактически не было бы: ведь
            Воронеж еще не построен, а база стоялых голов и сторожей у Тихой Сосны снята. Но такого перерыва,
            узаконенного распоряжением из Москвы, быть не могло! В этом нетрудно убедиться, изучив организацию
            сторожевой службы в то время.
        </p>

        <div class="card my-4">
            <div class="card-body">
                Таким образом, и текстуальный и логический анализ источников приводит нас к одному выводу:
                г. Воронеж основан в 1585, а не в 1586 г.
            </div>
        </div>
        <p>
            Небольшой в то время город Воронеж был построен на правом берегу одноименной реки,
            по предположению ученых, на том месте, где сейчас находится главный корпус Воронежского государственного
            университета
            (пл. Университетская, 1). Город-крепость был окружен дубовыми стенами высотой 6 метров, имелись здесь и
            смотровые
            башни до 20 метров высотой. Из крепости к реке вел прорытый подземный ход.
            Со временем город-крепость укреплялся, достраивался, территория его увеличивалась, в округе стали
            появляться
            села и деревни.
            Так стал складываться Воронежский уезд, в котором к 1615 году насчитывалось уже 60 населенных пунктов.
        </p>
    </div>
</div>

<div class="container justify-content-center px-5">
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <p><b> Что на Руси называли Диким полем?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Земли, лежащие в Восточной части страны." id="Земли, лежащие в Восточной части страны." name="question1">
            <label class="form-check-label" for="Земли, лежащие в Восточной части страны.">
                Земли, лежащие в Восточной части страны.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Земли, лежащие на юг от границы государства до берегов Крыма." id="Земли, лежащие на юг от границы государства до берегов Крыма." name="question1">
            <label class="form-check-label" for="Земли, лежащие на юг от границы государства до берегов Крыма.">
                Земли, лежащие на юг от границы государства до берегов Крыма.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Земли западных стран." id="Земли западных стран." name="question1">
            <label class="form-check-label" for="Земли западных стран.">
                Земли западных стран.
            </label>
        </div>

        <p><b>Официальным годом основания г.Воронежа считается...</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="1585г." id="1585г." name="question2">
            <label class="form-check-label" for="1585г.">
                1585г.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="1586г." id="1586г." name="question2">
            <label class="form-check-label" for="1586г.">
                1586г.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="1568г." id="1568г." name="question2">
            <label class="form-check-label" for="1568г.">
                1568г.
            </label>
        </div>

        <p><b>Что называли ухожьями?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Участки незаселенной еще территории, которые сдавались в аренду для рыбной ловли, добычи пушных зверей, сбора меда диких пчел." id="Участки незаселенной еще территории, которые сдавались в аренду для рыбной ловли, добычи пушных зверей, сбора меда диких пчел." name="question3">
            <label class="form-check-label" for="Участки незаселенной еще территории, которые сдавались в аренду для рыбной ловли, добычи пушных зверей, сбора меда диких пчел.">
                Участки незаселенной еще территории, которые сдавались в аренду для рыбной ловли, добычи пушных зверей, сбора меда диких пчел.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Московские центральные учреждения." id="Московские центральные учреждения." name="question3">
            <label class="form-check-label" for="Московские центральные учреждения.">
                Московские центральные учреждения.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Указы о построении городов." id="Указы о построении городов." name="question3">
            <label class="form-check-label" for="Указы о построении городов.">
                Указы о построении городов.
            </label>
        </div>

        <p><b>Куда в августе 1594г. воевода И. Кобяков послал запрос об ухожьях?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В Воронеж." id="В Воронеж." name="question4">
            <label class="form-check-label" for="В Воронеж.">
                В Воронеж.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В Москву." id="В Москву." name="question4">
            <label class="form-check-label" for="В Москву.">
                В Москву.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В Санкт-Петербург." id="В Санкт-Петербург." name="question4">
            <label class="form-check-label" for="В Санкт-Петербург.">
                В Санкт-Петербург.
            </label>
        </div>

        <p><b>Из какой книги известно о приказе основания г.Воронежа?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Из «Истории государства Российского»." id="Из «Истории государства Российского»." name="question5">
            <label class="form-check-label" for="Из «Истории государства Российского».">
                Из «Истории государства Российского».
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Из «Иллюстрированной русской истории»." id="Из «Иллюстрированной русской истории»." name="question5">
            <label class="form-check-label" for="Из «Иллюстрированной русской истории».">
                Из «Иллюстрированной русской истории».
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Из «Сторожевой книги»." id="Из «Сторожевой книги»." name="question5">
            <label class="form-check-label" for="Из «Сторожевой книги».">
                Из «Сторожевой книги».
            </label>
        </div>
    <button type="submit" class="btn-tsvet my-4 fs-5 px-1">Завершить тест</button>   
    {{ help }} 
    </form>
{% else %}
    <div class="py-2">
        <a href="{% url 'login' %}">Создайте аккаунт, чтобы получить доступ к тестам</a>
    </div>
{% endif %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'history1_view' %}">1</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history2_view' %}">2</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history3_view' %}">3</a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'history2_view' %}">Следующая</a>
        </li>
    </ul>
</nav>



{% endblock content %}