{% extends 'base.html' %}
{% block title %}История Воронежа{% endblock %}
{% load static %}
{% block content %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" href="{% url 'history6_view' %}">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'history6_view' %}">6</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history7_view' %}">7</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history8_view' %}">8</a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'history8_view' %}">Следующая</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <h2 class="text-center">Воронеж в годы Великой Отечественной войны</h2>
            <p class="pt-3">
                Среди важнейших событий Великой Отечественной войны важное место занимают сражения советских войск на
                воронежском направлении, развернувшиеся там с конца июня 1942-го и продолжавшиеся до конца февраля 1943
                г.,
                по времени совпавшие с решающей битвой того периода − Сталинградской. Боевые действия непосредственно в
                районе Воронежа в то время сыграли важную роль в решении оперативных задач, стоявших перед Советскими
                Вооруженными Силами, и оказали непосредственное влияние на изменение обстановки на советско-германском
                фронте на переломном этапе войны.
            </p>
            <p>
                Именно в Воронеже в годы Великой Отечественной войны начали производить знаменитые реактивные установки
                БМ-13, больше известные под именем «Катюша». Подробнее о них можно прочитать здесь:
            </p>

        </div>
        <img class="img-fluid col-6 offset-5 offset-lg-0 col-lg-4 order-lg-first py-4" src="{% static 'img/vov.jpg' %}" alt="">
    </div>
</div>


<div class="container">
    <div class="row justify-content-center py-4">
        <div class="col-12">
            <div class="card" id="card-cust">
                <div class="row">
                    <img src="{% static 'img/kat.jpg' %}" alt="" class="img-fluid col-4 img-c">
                    <div class="col-1" id="img-custom">

                    </div>
                    <div class="col-7">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4 mt-1 text-center" id="name-ar">
                                <h5>Катюша</h5>
                            </div>
                        </div>
                        <div class="row pt-3 px-3">
                            Долго сохранится в памяти нашего народа грозное оружие Великой Отечественной войны –
                            реактивные установки, известные под именем «Катюша»...
                        </div>
                        <div class="row py-4">
                            <div class="col-2 offset-8">
                                <a href="{% url 'article7_view' %}" class="btn" id="btn-cust">Перейти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <p>Потерпев в 1941 г. поражение в битве под Москвой, гитлеровцы разработали стратегический план ведения войны на
            лето 1942 г. Согласно директиве Гитлера от 5 апреля 1942 г. основной целью немецкого наступления летом 1942
            г. было овладеть Донбассом, кавказской нефтью и путем нарушения коммуникаций в глубине страны лишить СССР
            важнейших ресурсов, поступающих из этих районов. К концу июня 1942 г. противник сосредоточил на южном крыле
            советско-германского фронта крупную группировку в составе 900 тыс. человек, 1263 танка, 17 035 орудий и
            минометов, 1640 боевых самолетов. Здесь находилось 37% его пехотных и кавалерийских и 53% танковых и
            моторизованных соединений, находившихся на советско-германском фронте.</p>
        <p>Летом 1942 года ожесточенные бои шли на окраинах Воронежа – в районе Березовой рощи, стадиона «Динамо», улицы
            Ленина и ипподрома. Операция «Блау» («Синяя») была начата 28 июня 1942 г. На воронежском направлении войска
            группы «Вейхс» атаковали позиции советских войск на стыке 13-й и 40-й армий Брянского фронта, и в течение
            дня сумели продвинуться на глубину 8−12 км. Это стало началом Воронежско-Ворошиловградской оборонительной
            операции советских войск (28 июня − 24 июля 1942 г.). 7 июля 1942 года был образован Воронежский фронт, а
            его командующим был назначен Николай Федорович Ватутин. Штаб фронта разместился в Анне. 10 июля 1942 года
            барон фон Вейхс объявил о победоносном окончании битвы за Воронеж. Однако на самом деле это сражение только
            начиналось.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <p>Решающая битва за Воронеж была проведена в рамках Воронежско-Касторненской наступательной операции.
                Военные действия начались утром 24 января 1943 года и продолжались восемь дней – с 24 января по 2
                февраля 1943 года. В нем приняли участие 38-я, 40-я и 60-я армии Воронежского фронта, армия Брянского
                фронта и военные двух воздушных армий. Наступательная операция была крайне трудной, победу затрудняли
                неравные силы и неблагоприятные погодные условия – сильный мороз, глубокий снег, метель и ветер. В 11
                часов утра 25 января 1943 года правобережная часть города была полностью очищена от оккупантов. На
                балконе гостиницы «Воронеж» (площадь Ленина, дом 8) бойцы 60-ой армии водрузили Красное знамя
                освобождения. А Советское Информбюро сообщило на всю страну: «25 января 1943 года войска Воронежского
                фронта опрокинули части немцев и полностью овладели городом Воронежем. Уже на следующий день – 26 января
                1943 года – в Воронеж начали возвращаться мирные жители. Вот как написала об этом газета «Правда» 1
                марта 1943 года: «На улицах города становится шумно и многолюдно. Уже более 10 тысяч воронежцев
                возвратились в свои родные места».</p>
        </div>
        <img src="{% static 'img/vov1.jpg'%}" alt="" class="col-6 offset-3 offset-lg-0 col-lg-4 img-fluid">
    </div>
</div>

<div class="container p-4">
    <div class="card">
        <div class="card-body">
            <p>Бои за Воронеж длились долгих 212 дней. Линия фронта прошла по Воронежу, однако фашистам так и не удалось
                захватить его полностью – Левый берег остался в руках советских войск и, как вспоминает командующий
                Воронежским фронтом генерал-полковник Филипп Иванович Голиков, фашисты не смогли одолеть и «важный
                северо-восточный сектор» Воронежа «с центром в районе СХИ». Упорные бои шли в парке культуры в Березовой
                роще. В августе 1942 года наши войска заняли стратегически важную позицию на Чижовском плацдарме и
                удерживали ее до полного освобождения Воронежа.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <p>Длительность нахождения Воронежа на линии фронта – 212 дней и ночей, причем все это время она проходила
            непосредственно через город. 20 тыс. зданий были превращены в развалины. Ущерб, причиненный городу,
            выразился в огромной сумме – 5 млрд рублей, а области – 15 млрд рублей. Воронеж вошел в число 12 европейских
            городов, наиболее пострадавших во Второй мировой войне и в 15 наиболее разрушенных городов страны. На
            территории Воронежской области в сентябре 1941 года было развернуто 50 эвакогоспиталей, в городе – 20. Так
            что сегодня Воронеж по праву носит высокое звание – город воинской Славы.</p>
    </div>
</div>

<div class="container justify-content-center px-5">
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <p><b>В каких районах Воронежа летом 1942 года шли наиболее ожесточенные бои?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В Центральном районе и у ипподрома." id="В Центральном районе и у ипподрома." name="question1">
            <label class="form-check-label" for="В Центральном районе и у ипподрома.">
                В Центральном районе и у ипподрома.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В районе Березовой рощи, стадиона «Динамо», улицы Ленина." id="В районе Березовой рощи, стадиона «Динамо», улицы Ленина." name="question1">
            <label class="form-check-label" for="В районе Березовой рощи, стадиона «Динамо», улицы Ленина.">
                В районе Березовой рощи, стадиона «Динамо», улицы Ленина.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В районе улицы Ленина, стадиона «Динамо» и на левом берегу." id="В районе улицы Ленина, стадиона «Динамо» и на левом берегу." name="question1">
            <label class="form-check-label" for="В районе улицы Ленина, стадиона «Динамо» и на левом берегу.">
                В районе улицы Ленина, стадиона «Динамо» и на левом берегу.
            </label>
        </div>


        <p><b>Когда был образован Воронежский фронт под командованием Николая Федоровича Ватутина?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="17 июля 1942 года." id="17 июля 1942 года." name="question2">
            <label class="form-check-label" for="17 июля 1942 года.">
                17 июля 1942 года.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="7 июля 1942 года." id="7 июля 1942 года." name="question2">
            <label class="form-check-label" for="7 июля 1942 года.">
                7 июля 1942 года.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="11 июля 1942 года." id="11 июля 1942 года." name="question2">
            <label class="form-check-label" for="11 июля 1942 года.">
                11 июля 1942 года.
            </label>
        </div>
        
        <p><b>Решающая битва за Воронеж была проведена в рамках ... наступательной операции.</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="«Синей»." id="«Синей»." name="question3">
            <label class="form-check-label" for="«Синей».">
                «Синей».
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Воронежско-Касторненской." id="Воронежско-Касторненской." name="question3">
            <label class="form-check-label" for="Воронежско-Касторненской.">
                Воронежско-Касторненской.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Воронежско-Ворошиловградской." id="Воронежско-Ворошиловградской." name="question3">
            <label class="form-check-label" for="Воронежско-Ворошиловградской.">
                Воронежско-Ворошиловградской.
            </label>
        </div>


        <p><b>Сколько длились бои за Воронеж?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="182 дня." id="182 дня." name="question4">
            <label class="form-check-label" for="182 дня.">
                182 дня.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="212 дней." id="212 дней." name="question4">
            <label class="form-check-label" for="212 дней.">
                212 дней.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="221 день." id="221 день." name="question4">
            <label class="form-check-label" for="221 день.">
                221 день.
            </label>
        </div>

        <button type="submit" class="btn-tsvet my-4 fs-5 px-1">Завершить тест</button>
    </form>
    {% else %}
        <div class="py-2">
            <a href="{% url 'login' %}">Создайте аккаунт, чтобы получить доступ к тестам</a>
        </div>
    {% endif %}
</div>





<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'history6_view' %}">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'history6_view' %}">6</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history7_view' %}">7</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history8_view' %}">8</a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'history8_view' %}">Следующая</a>
        </li>
    </ul>
</nav>
{% endblock content %}