{% extends 'base.html' %}
{% block title %}История Воронежа{% endblock %}
{% load static %}
{% block content %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" href="{% url 'history5_view' %}">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'history6_view' %}">6</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history7_view' %}">7</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history8_view' %}">8</a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'history7_view' %}">Следующая</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row">
        <h2 class="text-center">Воронеж в 1917-1920 гг.</h2>
        <p>После того, как в ночь 30/31 октября в Воронеже была установлена советская власть, положившая конец
            продолжавшемуся с марта двоевластию, наш город – на фоне соседних Украины и Дона – ещё долго жил
            относительно мирной жизнью. Большую часть периода Гражданской войны фронт проходил достаточно далеко от
            Воронежа – на юге губернии, поэтому наш город (как и в Первую мировую) представлял собой тыловой город,
            обеспечивающий фронт всем необходимым – от людей до бронепоездов.</p>
        <p>В декабре 1917 – феврале 1918 г. в соответствии с постановлением Всероссийского Центрального Исполнительного
            Комитета был введен рабочий контроль на воронежских заводах, на железной дороге, в банках, на телеграфе,
            торговых предприятиях. Рабочий контроль явился первым этапом на пути к национализации промышленности города
            и губернии. 31 января 1918 г. в Воронеже состоялся губернский съезд рабочих сахарных заводов, который принял
            решение о национализации сахарных заводов в Воронежской губернии. В течение 1918 года были национализированы
            и стали собственностью советского государства все важнейшие промышленные предприятия города Воронежа.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-5 py-4">
            <div class="card pt-2">
                <h5 class="card-title">Алексей Максимович Каледин</h5>
                <img src="{% static 'img/Каледин.png' %}" class="card-img-top" alt="">
                <div class="card-body">Русский военачальник, генерал от кавалерии, войсковой атаман Дона, деятель Белого
                    движения.
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-7 py-4">
            <p>В ноябре 1917 г. на Дону было образовано Войсковое правительство атамана Каледина, отказавшееся признать
                советскую власть. Мириться с этим новая власть в нашей губернии не стала, и 10 декабря Исполнительный
                комитет воронежского Совета решил создать специальный отряд Красной гвардии для борьбы с Калединым, а 14
                декабря было принято решение «открыть запись в Красную гвардию на всех заводах по рекомендации рабочих
                комитетов и партийной организации». Кроме того, в Воронеж начали прибывать красногвардейские отряды из
                Рязани, Москвы, Петрограда и других городов, и 15 декабря общее собрание Воронежского Совета по
                предложению командира рязанского красногвардейского отряда Г. К. Петрова постановило ввести военное
                положение в городе и организовать боевую группу для действий против Каледина, и 22 декабря против
                Каледина из Воронежа был направлен большой отряд добровольцев, а в Воронежских железнодорожных
                мастерских (сейчас это тепловозоремонтный завод) была построена бронелетучка, команду которой
                укомплектовали красногвардейцами.</p>
            <p>20 декабря 1917 г. в Воронеже состоялось общее собрание командиров, комиссаров, представителей войсковых
                частей гарнизона, военно-революционного комитета и губернского комитета большевиков, на котором был
                организован штаб управления 1-й Южной революционной армии, командующим армией был избран Г.К. Петров,
                начальником штаба – А.С. Моисеев. Штаб армии должен был заниматься формированием частей Красной гвардии
                и защитой территории губернии от отрядов Каледина. К середине февраля 1918 г. красные взяли Таганрог,
                начали наступление на Ростов и Новочеркасск, и в итоге Каледин застрелился, а Корнилов увел
                Добровольческую армию на Кубань. Воронежской губернии на некоторое время настала мирная жизнь.</p>
            <p>В 1918 г. открылся Воронежский государственный университет. Весной 1918 года он был переведен в Воронеж
                из города Юрьев (современный г. Тарту Эстонской ССР), оккупированного германскими войсками. В Воронеж
                переехали студенты и преподаватели Юрьевского университета, в том числе Н.Н. Бурденко и М.С. Цвет.</p>
            <p>11 мая 1918 г. была распущена до сих пор существовавшая Воронежская городская дума (впрочем, никакой
                важной роли она последние полгода не играла – в том числе и из-за прекращения финансирования), ведавшая
                городским хозяйством, её функции взял на себя муниципальный отдел губернского исполнительного комитета.
            </p>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p>Однако, до Воронежа снова начали доходить отголоски начавшейся гражданской войны. С марта началась запись
            добровольцев в Красную Армию. Декрет от 15 (28) января 1918 г. об образовании добровольческой
            Рабоче-крестьянской красной армии предусматривал призыв именно добровольцев, а принудительный набор в
            армию ввели только 29 мая), сначала медленно, потом всё больше – и в итоге 6 апреля 1918 г. было закончено
            формирование двух полков для РККА, которые сразу были направлены на фронт.</p>
        <p>В ноябре 1918 г. значительная часть территории области была занята войсками генерала Краснова. В декабре 1919
            г. части Красной Армии выбили их, полностью освободив территорию области. В начале июля 1919 г. наступление
            на Москву начали войска генерала Деникина. Наступление проходило по территории области. 9 сентября корпус
            генерала Мамонтова совершая рейд по тылам Красной Армии вышла к Воронежу заняв слободу Чижовку, район
            Заставы, вышел к центру города. 12 сентября Мамонтов был выбит из Воронежа. 30 сентября к Воронежу подошли
            основные соединения войск Деникина, заняв город. В нем расположился штаб генерала Шкуро. В городе начались
            массовые расправы и казни большевиков. 24 октября 1919 г. Воронеж был освобожден конным корпусом С.М.
            Буденного во взаимодействии с стрелковыми дивизиями 8-й армии. К началу 1920 г. боевые действия на
            территории Воронежской области были завершены, за исключением борьбы с многочисленными бандами.</p>
    </div>
</div>

<div class="container py-3">
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>
                1 февраля 1920 г. в Воронеже открылся "Институт народного образования". В конце 1921 г. на его базе был
                создан педагогический факультет ВГУ. С 3 декабря 1922 г. стала издаваться газета "Комсомолец" - ныне
                "Молодой Коммунар". На протяжении 1920-х годов в городе шло непрерывное наращивание промышленного
                производства. К 1929 г. была ликвидирована безработица, уделялось внимание благоустройству города. В
                1926 г. в Воронеже был запущен первый трамвай, ходивший по маршруту вокзал - маслозавод. В целом
                промышленность пострадавшая за время I-й Мировой и Гражданской войн была восстановлена к 1927 г. В
                мае-июне 1929 г. было открыто здание цирка на 3000 мест, в котором в том числе выступали дрессировщики
                Дуровы.
            </p>
        </div>
        <img class="col-8 offset-2 offset-lg-0 col-lg-6 img-fluid" src="{% static 'img/1917.jpg'%}" alt="">
    </div>
</div>


<div class="container justify-content-center px-5">
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <p><b>Когда в Воронеже состоялся губернский съезд рабочих сахарных заводов?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="29 января 1917 г." id="29 января 1917 г."
                name="question1">
            <label class="form-check-label" for="29 января 1917 г.">
                29 января 1917 г.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="31 января 1918 г." id="31 января 1918 г."
                name="question1">
            <label class="form-check-label" for="31 января 1918 г.">
                31 января 1918 г.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="29 января 1918 г." id="29 января 1918 г."
                name="question1">
            <label class="form-check-label" for="29 января 1918 г.">
                29 января 1918 г.
            </label>
        </div>


        <p><b>... Исполнительный комитет воронежского Совета решил создать специальный отряд Красной гвардии для борьбы
                с Калединым.</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="10 декабря 1917 г." id="10 декабря 1917 г."
                name="question2">
            <label class="form-check-label" for="10 декабря 1917 г.">
                10 декабря 1917 г.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="1 декабря 1917 г." id="1 декабря 1917 г."
                name="question2">
            <label class="form-check-label" for="1 декабря 1917 г.">
                1 декабря 1917 г.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="2 декабря 1917 г." id="2 декабря 1917 г."
                name="question2">
            <label class="form-check-label" for="2 декабря 1917 г.">
                2 декабря 1917 г.
            </label>
        </div>

        <p><b>Кто предложил 15 декабря ввести военное положение в городе и организовать боевую группу для
                действий против Каледина?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Г. К. Петров." id="Г. К. Петров." name="question3">
            <label class="form-check-label" for="Г. К. Петров.">
                Г. К. Петров.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="А. С. Моисеев." id="А. С. Моисеев." name="question3">
            <label class="form-check-label" for="А. С. Моисеев.">
                А. С. Моисеев.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="Н. Н. Бурденко." id="Н. Н. Бурденко." name="question3">
            <label class="form-check-label" for="Н. Н. Бурденко.">
                Н. Н. Бурденко.
            </label>
        </div>

        <p><b>... 1920 г. в Воронеже открылся "Институт народного образования". В конце 1921 г. на его базе был создан педагогический факультет ВГУ.</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="10 июня." id="10 июня." name="question4">
            <label class="form-check-label" for="10 июня.">
                10 июня.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="1 февраля." id="1 февраля." name="question4">
            <label class="form-check-label" for="1 февраля.">
                1 февраля.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="1 июля." id="1 июля." name="question4">
            <label class="form-check-label" for="1 июля.">
                1 июля.
            </label>
        </div>


        <p><b>Когда в Воронеже было открыто здание цирка на 3000 мест?</b></p>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В мае-июне 1925 г." id="В мае-июне 1925 г." name="question5">
            <label class="form-check-label" for="В мае-июне 1925 г.">
                В мае-июне 1925 г.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В мае-июне 1928 г." id="В мае-июне 1928 г." name="question5">
            <label class="form-check-label" for="В мае-июне 1928 г.">
                В мае-июне 1928 г.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" value="В мае-июне 1929 г." id="В мае-июне 1929 г." name="question5">
            <label class="form-check-label" for="В мае-июне 1929 г.">
                В мае-июне 1929 г.
            </label>
        </div>


        <button type="submit" class="btn-tsvet my-4 fs-5 px-1">Завершить тест</button>
    </form>
    {% else %}
        <div class="py-2">
            <a href="{% url 'login' %}">Создайте аккаунт, чтобы получить доступ к тестам</a>
        </div>
    {% endif %}
</div>







<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'history5_view' %}">Предыдущая</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'history6_view' %}">6</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history7_view' %}">7</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'history8_view' %}">8</a></li>
        <li class="page-item">
            <a class="page-link" href="{% url 'history7_view' %}">Следующая</a>
        </li>
    </ul>
</nav>
{% endblock content %}