{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <img class="img-fluid col-8 col-lg-6 py-5" src="{% static 'img/v.jpg' %}" alt="">
    <div class="col-12 col-lg-6 py-5">
      <p>
        Воронеж – это российский город на юге Центральной России, основанный в 1586 году, 
        расположенный на берегах одноименной реки, являющейся притоком Дона. Воронеж – это город, 
        носящий звание Города Воинской Славы, а также город, включённый Министерством культуры России 
        в список исторических городов с большим числом достопримечательностей. 
      </p>
      <p>
        В Воронеже хорошо развита промышленность,
        в том числе – высокотехнологичная.  В городе много разнообразных гостиниц. Значительную славу Воронежу принесла
        авиационная и космическая промышленность: здесь началось серийное производство ТУ-144,
        пассажирского сверхзвукового лайнера, создан первый аэробус ИЛ-86. Двигатели для космического корабля «Восток»,
        на котором совершил свой легендарный полёт Юрий Гагарин, тоже были созданы в Воронеже.
      </p>
    </div>
  </div>
  
</div>



<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="text-center">
        Первобытные люди жили на территории Воронежской области сотни тысяч лет назад. 
        На берегу Дона у села Костёнки Воронежского уезда Воронежской губернии в песке и отмелях находили 
        с незапамятных времен кости древних животных.
        Археологи установили, 
        что именно здесь находились стоянки предков современных людей, представителей ашельской культуры – 
        первой из всех с тех пор, как древние люди покинули Африку.
        Поляковым было сделано открытие, 
        которое впоследствии сделало это место известным всему ученому миру. 
        Стоянка в Костёнках относится к каменному веку. Основания жилищ были сложены из огромных костей мамонтов,
        которые в изобилии водились в "воронежских" местах 45.000 лет тому назад. 
        Последующие раскопки открывали все новые подробности жизни далеких предков, велась тщательная научная работа. 
        Учеными были сделаны выводы о том, что в древние времена расселение homo sapiens проходило через территорию Воронежской области.
      </div>
    </div>

    <img class="img-fluid col-5 col-lg-3 offset-lg-1 py-4" src="{% static 'img/kostenki5.png' %}" alt="">
    <img class="img-fluid col-7 col-lg-3 offset-lg-9 py-4" src="{% static 'img/kostenki4.jpg' %}" alt="">

  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-lg-7 py-4 text-center">
          Воронежский период занимает достойное место в увлекательной книге жизни Петра Великого. Царь прославил город. 
          Связано это с многократными визитами Петра в Воронеж. Здесь развернулась великая корабельная стройка.
          В 1700—1711 годы кораблестроительная деятельность в Воронеже продолжалась весьма интенсивно: проводились ремонтные работы, 
          закладывались новые корабли (в том числе и большие, на более чем 80 пушек),
          активно развивалась инфраструктура для нужд Адмиралтейства.
          За 15-летнюю историю Азовского флота на верфях Воронежского края было возведено около 200 боевых кораблей, из них 114 гребных галер и 75 парусников. 
          Воронежские верфи стали кузницей кадров, здесь были заложены основы отечественной кораблестроительной школы.
      </div>

      <img class="img-fluid col-6 col-lg-4 order-lg-first py-4" src="{% static 'img/korabl.jpg' %}" alt="Картинка">

    

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="text-center">
        <p>
          Воронеж – родина воздушно-десантных войск. 
            26 июля 1930 году в Воронеже на базе 11-ой авиабригады были устроены сборы военно-воздушных 
            сил Московского военного округа,
            штаб и аэродром которой находились на юго-западной окраине города. В программу сборов 
            входили показательные прыжки парашютистов, 
            которыми руководил командир бригады Минов. После удачно выполненных показательных прыжков,
            командование военно-воздушными силами предложило Леониду Минову организовать групповые прыжки парашютистов с оружием. 
            Десант было решено провести у села Подгорное, севернее Воронежа. Для десанта отобрали 12 парашютистов, их разделили 
            на две группы. 
            Одной группой командовал сам Минов, а другую возглавил Яков Мошковский - воронежец, 
            выпускник Борисоглебской военной школы.  
            2 августа 1930 года парашютисты блестяще произвели первое в истории России парашютное десантирование 
            военного подразделения в составе 12 человек. 
            С этого дня Воронеж стал родиной Воздушно-десантных войск.


        </p>
      </div>
    </div>

    <img class="img-fluid col-6 col-lg-4 offset-lg-1 py-4" src="{% static 'img/vdv2.jpg' %}" alt="">
    <img class="img-fluid col-6 col-lg-3 offset-lg-9 py-4" src="{% static 'img/vdv1.jpg' %}" alt="">

  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-lg-7 py-4 text-center">
        Воронеж сыграл немалую роль в переломных сражениях Отечественной войны.
        212 дней и ночей бился с немецко-фашистскими захватчиками город Воронеж. 
        Враг так и не смог захватить полностью весь город. Линия фронта прошла через Воронеж.
        В августе 1942 года советские воины заняли важную стратегическую позицию на Чижовском плацдарме и 
        удерживали ее до решающего наступления Красной Армии и полного освобождения Воронежа. 
        25 января 1943 года войска Воронежского фронта, перейдя в наступление в районе города,
        разгромили части немцев и полностью овладели Воронежем. Восточный берег реки Дон в районе западнее и 
        юго-западнее города также был очищен от немецко — фашистских войск.
        6 февраля 2008 г. Воронеж пополнил ряды городов, носящих звание «Город воинской славы»,
        ведь в тот день Президентом России был подписан соответствующий указ.
      </div>

    <img class="img-fluid col-6 col-lg-5 order-lg-first py-4" src="{% static 'img/gorod.jpg' %}" alt="Картинка">

    
    </div>
  </div>
</div>




{% endblock content %}
